#navbar {
    background: white;
    color: black;
    box-shadow: 2px 7px 17px 0px rgba(0, 0, 0, 0.226);
    position: sticky;
    top: 0;
    z-index: 1;
}

#div_logo_atos {
    background: rgb(0, 102, 161);
    //background: rgb(28, 71, 151);
    height: 100%;
    width: 10%;
    display: flex;
}
.user-name{
    color: rgb(97, 188, 241);
}
.user-img-circle{
    padding: 0 14px;
}
.spacer{
    flex: 1 1 auto;
}
