#navbar {
    background: #0066A1;
    color: #fff;
    /*box-shadow: 2px 7px 17px 0px rgba(0, 0, 0, 0.226);*/
    position: fixed;
    top: 0;
    z-index: 998;
    height: 64px;
}

.user-img-circle{
    padding: 0px;
}

.atos-brand {
    position: relative;
    margin-top: -25px;
    top: 12px;
    height: 32px;
}

#profileItems {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: stretch flex-end;
    align-items: stretch;
    flex: 1 1 0%;
}

.hamburger-menu {
    visibility: hidden;
}

mat-nav-list.list-horizontal {
    padding: 0;
    .mat-list-item {
      display: inline-block;
      height: auto;
      width: auto;
      color: #fff;
    }
    .active-list-item{
        background: #3a5ea2 !important;
    }
  }

  @media (max-width: 995px){
      mat-nav-list {
          display: none;
      }
      .hamburger-menu {
          visibility: visible;
      }
  }
@media (max-width: 599px){
    #navbar{
        height: 56px;
    }
}
mat-list-item:hover{
  background: #1c4797 !important;
}
mat-list-item a:target, mat-list-item a:hover {
  background: #3a5ea2 !important;
}
