.container{
  padding-right: 20px;
}
.inputs-container{
  display: block;
}
.checklist-container{
  display: block;
}
.actions-container{
  display: block;
}
.booking-form{
  width: 100%;
}
.form{
  width: 100%;
}
