.container{
  padding-right: 20px;
}
.inputs-container{
  width: 100%;
}
.search-user-container{
  width: 100%;
}
.content-container{
  width: 100%;
}
.actions-container{
  width: 100%;
}
.booking-form{
  width: 100%;
}
.form{
  width: 100%;
}
