<div class="container">
  <div class="inputs-container">
    <form class="booking-form">
      <mat-form-field class="form">
        <input matInput placeholder="Objet" value="{{objetReunion}}">
      </mat-form-field>
    </form>
  </div>
  <div class="checklist-container">
    <mat-dialog-content>
      <p> Recherche de participants </p>
        <mat-selection-list>
          <mat-list-option *ngFor="let shoe of typesOfShoes">
            {{shoe}}
          </mat-list-option>
        </mat-selection-list>
      <p>
        Options selected: {{shoes.selectedOptions.selected.length}}
      </p>
    </mat-dialog-content>
  </div>
  <div class="actions-container">
    <mat-dialog-actions>
        <button class="mat-raised-button" (click)="close()">Close</button>
    </mat-dialog-actions>
  </div>
</div>
