<button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="onNoClick()">&times;</button>

<div class="container-fluid" id="createReservation">
<!-- objet -->
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <!-- titre -->
                <p class="modal-title">
                    {{title}}
                </p>
            </div>
            <!-- message -->
            <div class="modal-body">
                <p>{{message}}
                    <span class="infoResa">{{roomName}}</span>&nbsp;le
                    <span class="infoResa">{{startFullStartDate}}</span>
                    <span class="infoResa">{{startFullEndHour}}</span>&nbsp;qui a pour objet
                    <span class="infoResa">{{modalobject}}</span>&nbsp;?
                </p>
            </div>
             <!-- bouton -->
            <div class="modal-footer" mat-dialog-actions>
                <button type="button" class="btn btn-info" (click)="onNoClick()">Annuler</button>
                <button matButton class="mat-raised-button" (click)="onSubmit()">Créer la réservation</button>
            </div>
        </div>
    </div>  
</div>
