<div class="row">
    <div class="mx-auto">
        {{ recurrenceMode ? 'Toutes les salles' : 'Salles disponibles pour mon créneau' }}
    </div>
    <div *ngIf="recurrenceMode" class="mx-auto small">
        Les salles proposées peuvent être parfois réservées sur le crénaux sélectionné
    </div>
</div>

<div class="row my-3">
    <div class="container-fluid">
        <h2>Capacité</h2>
        <mat-slider [(ngModel)]="roomRequiredCapacity" thumbLabel="true" tickInterval="1" min="2" max="10"
            (change)="onChangeCapacity()">
        </mat-slider>
    </div>
</div>

<div class="row my-3">
    <div class="container-fluid">
        <div class="mb-3">
            <h2>Salles ({{roomRequiredCapacity}} personnes)</h2>
        </div>
        <div class="card-deck">
            <div *ngFor="let room of roomList" (click)="onSelectRoom(room)">
                <div *ngIf="room.capacity >= roomRequiredCapacity" class="card mb-3">
                    <img src="../../../assets/salleDeReunion.jpg" class="card-img-top" alt="salleDeReunion">
                    <div class="card-body">
                        <h5 class="card-title">{{ room.name }}
                            <mat-icon [ngClass]="{
                                'badge-unselected-room':selectedRoom === null || selectedRoom !== room,
                                'badge-selected-room':selectedRoom === room
                            }">
                                check_circle_outline</mat-icon>
                        </h5>
                        <p class="card-text">
                            <small class="text-muted">{{ room.area }} - {{room.capacity}} pers.
                            </small>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <button class="bouton-back-next" mat-button matStepperPrevious (click)="selectedRoom = null;">
            Retour
        </button>
        <div class="col-8">
            <button class="bouton-back-next" mat-button
                (click)="recurrenceMode ? sendToVerification() : createReservation()" matStepperNext
                [disabled]="!selectedRoom">Réserver</button>
        </div>
    </div>
</div>