<button type="button" class="close_button" data-dismiss="modal" aria-hidden="true"
  (click)="closeModal()">&times;</button>

<div class="container-fluid" id="createReservation">

  <div class="row justify-content-center mb-2 p-2 rounded align-items-center">
    <h4 class="titre m-0">Modification d'une réservation | Salle {{room.name}}</h4>
  </div>

  <div class="row justify-content-center border rounded p-2">
    <div class="col-6">
      <mat-form-field class="w-100">
        <input matInput autocomplete="off" placeholder="Objet" [(ngModel)]="objet" autofocus>
      </mat-form-field>
      <span class="d-block text-danger small" *ngIf="errorObjet">{{errorObjet}}</span>
    </div>
    <div class="col-6">
      <mat-form-field class="w-100">
        <input matInput autocomplete="off" (dateChange)="onSelectDate($event)" [value]="selectedDate"
          [matDatepicker]="picker" placeholder="Date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <span class="d-block text-danger small" *ngIf="errorDate">{{errorDate}}</span>
    </div>
  </div>

  <div class="row justify-content-center border rounded p-2 my-2">
    <h6 class="w-100 text-center">Debut</h6>
    <mat-form-field class="w-50 px-2">
      <mat-label>Heure</mat-label>
      <mat-select [(value)]="selectedHourStart">
        <mat-option *ngFor="let hourStart of bookingHours" [value]="hourStart">
          {{hourStart}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-50 px-2">
      <mat-label mat-body>Minute</mat-label>
      <mat-select [(value)]="selectedMinuteStart">
        <mat-option *ngFor="let minuteStart of bookingMinutes" [value]="minuteStart">
          {{minuteStart}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span class="d-block text-danger small" *ngIf="errorHourStart">{{errorHourStart}}</span>
  </div>

  <div class="row justify-content-center border rounded p-2 my-2">
    <h6 class="w-100 text-center">Fin</h6>
    <mat-form-field class="w-50 px-2">
      <mat-label>Heure</mat-label>
      <mat-select [(value)]="selectedHourEnd">
        <mat-option *ngFor="let hourEnd of bookingHours" [value]="hourEnd">
          {{hourEnd}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-50 px-2">
      <mat-label>Minute</mat-label>
      <mat-select [(value)]="selectedMinuteEnd">
        <mat-option *ngFor="let minuteEnd of bookingMinutes" [value]="minuteEnd">
          {{minuteEnd}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span class="d-block text-danger small" *ngIf="errorHourEnd">{{errorHourEnd}}</span>
  </div>

  <div class="row justify-content-center my-2">
    <mat-dialog-actions>
      <button matButton class="mat-raised-button" (click)="onSubmit()">Modifier la réservation</button>
      <span class="d-block text-danger small p-1" *ngIf="errorBase">{{errorBase}}</span>
    </mat-dialog-actions>
  </div>

</div>