.bouton-back-next{
    margin-right: 10px ;
    float: right;
    color: rgb(115, 154, 224);
    border: 1px solid rgb(115, 154, 224);
}

.bouton-back-next:disabled{
  color: rgba(155, 152, 152, 0.585);
  border: 1px solid rgba(155, 152, 152, 0.585);
}