<div class="container px-5">
    <div class="row mb-3 p-3 border rounded bg-white">
        <p class="m-0">
            <mat-icon class="mr-2 blue-color">info</mat-icon>
            <span *ngIf="selectedObjet">
                {{selectedObjet}} : 
            </span>
            <span *ngIf="selectedDate">
                le {{selectedDateDisplay}}
            </span>
            <span *ngIf="selectedMinuteStart != null">
                de {{selectedHourStart}} :
                <span *ngIf="selectedMinuteStart == 0">00</span>
                <span *ngIf="selectedMinuteStart == 30">30</span>
            </span>
            <span *ngIf="selectedMinuteEnd != null">
                à {{selectedHourEnd}} :
                <span *ngIf="selectedMinuteEnd == 0">00</span>
                <span *ngIf="selectedMinuteEnd == 30">30</span>.
            </span>
        </p>
    </div>

    <div class="row mb-3 justify-content-between">
        <div class="col-auto p-3 border rounded bg-white">
                <mat-calendar min="today" [selected]="selectedDate"
                    (selectedChange)="onSelectDate($event); checkInput()">
                </mat-calendar>
                <div class="d-block text-danger small" *ngIf="errorDate">{{errorDate}}</div>
        </div>

        <div class="col-7 p-3 border rounded bg-white">
            <div class="row mb-3">
                <h5 class="w-100 text-center m-auto">Objet</h5>
                <mat-form-field class="w-100 pl-4 pr-4">
                    <input matInput autocomplete="off" placeholder="Objet" [(ngModel)]="selectedObjet"
                        (input)="checkInput()">
                </mat-form-field>
                <div class="w-100 text-danger small pl-4" *ngIf="errorObjet">{{errorObjet}}</div>

            </div>

            <div class="row mb-3">
                <h5 class="w-100 text-center m-auto">Debut</h5>
                <mat-form-field class="w-50 pl-4 pr-2">
                    <mat-label>Heure</mat-label>
                    <mat-select [(value)]="selectedHourStart" (openedChange)="checkInput()">
                        <mat-option *ngFor="let hourStart of bookingHours" [value]="hourStart">
                            {{hourStart}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-50 pl-2 pr-4">
                    <mat-label>Minute</mat-label>
                    <mat-select [(value)]="selectedMinuteStart" (openedChange)="checkInput()">
                        <mat-option *ngFor="let minuteStart of bookingMinutes" [value]="minuteStart">
                            {{minuteStart}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="w-100 text-danger small text-center" *ngIf="errorHourStart">{{errorHourStart}}</div>

            </div>

            <div class="row">
                <h5 class="w-100 text-center m-auto">Fin</h5>
                <mat-form-field class="w-50 pl-4 pr-2">
                    <mat-label>Heure</mat-label>
                    <mat-select [(value)]="selectedHourEnd" (openedChange)="checkInput()">
                        <mat-option *ngFor="let hourEnd of bookingHours" [value]="hourEnd">
                            {{hourEnd}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-50 pl-2 pr-4">
                    <mat-label>Minute</mat-label>
                    <mat-select [(value)]="selectedMinuteEnd" (openedChange)="checkInput()">
                        <mat-option *ngFor="let minuteEnd of bookingMinutes" [value]="minuteEnd">
                            {{minuteEnd}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="w-100 text-center text-danger small" *ngIf="errorHourEnd">{{errorHourEnd}}</div>
            </div>
        </div>
    </div>


    <!-- Toggle de la recurrence -->
    <div class="row align-items-center">
        <div class="col-auto">
            <mat-slide-toggle (change)="changeRecurrence()">
                Activer la récurrence ?
            </mat-slide-toggle>
        </div>
        <div class="col">
            <button class="bouton-back-next" mat-button matStepperNext
            (click)="formatDates(); !recurrenceIsChecked ? clickWithoutRecurrence() : null;" [disabled]="!datasAreGood">Suivant</button>
        </div>
    </div>

</div>