<div class="container-fluid p-5">

  <div class="row mb-5">
    <div class="col-auto">
      <h2 class="title"> Administration des salles </h2>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-md-4 col-xs-12">
      <mat-card class="example-card mat-elevation-z2 mb-2">
        <mat-card-header>
          <mat-card-title class="pt-3 pb-3"><h3>Ajout Rapide</h3></mat-card-title>
        </mat-card-header>

        <mat-card-content class="mt-2">
          <form class="example-form" [formGroup]="createRoomForm">
            <div class="row">
              <div class="col-12">
                <h6 class="ml-3">Nom</h6>
                <mat-form-field class="col-12" appearance="outline">
                  <input type="text" placeholder="Nom" aria-label="roomName" matInput formControlName="roomName"
                         [matAutocomplete]="auto" required>
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let name of names" [value]="name">{{name}}</mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <h6 class="ml-3">Zone</h6>
                <mat-form-field class="col-12" appearance="outline">
                  <mat-select matInput formControlName="roomArea" placeholder="Zone" required>
                    <mat-option *ngFor="let area of areas" [value]="area">{{area}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <h6 class="ml-3">Capacité</h6>
                <div class="col-12 form-inline">
                  <button class="btn btn-primary col-2" (click)="decrementCapacity()">-</button>
                  <input maxlength=2 numbersOnly [value]="newRoomCapacity" class="form-control text-center col-8"
                         (keyup)="checkRoomCapacityValue()" [(ngModel)]="newRoomCapacity"/>
                  <button class="btn btn-primary col-2" (click)="incrementCapacity()">+</button>
                </div>
              </div>
            </div>
          </form>
        </mat-card-content>

        <mat-card-actions class="row">
          <div class="col-12">
            <button type="submit" [ngClass]="!createRoomForm.valid ? 'btn-secondary' : 'btn-primary'"
                    class="btn btn-block col-12" (click)="createRoom()" [disabled]="!createRoomForm.valid"> AJOUTER UNE
              SALLE
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-md-8 col-xs-12">
      <mat-card class="example-card mat-elevation-z2">
        <mat-card-header>
          <mat-card-title class="pt-3 pb-3"><h3>Liste des salles existantes</h3></mat-card-title>
        </mat-card-header>

        <mat-table [dataSource]="dsRoom" class="mat-elevation-z2">
          <!-- Date Column -->
          <ng-container matColumnDef="room">
            <mat-header-cell *matHeaderCellDef> Salle</mat-header-cell>
            <mat-cell *matCellDef="let element" class="dateTableCell"> {{ element.name }}
            </mat-cell>
          </ng-container>

          <!-- Start Column -->
          <ng-container matColumnDef="area">
            <mat-header-cell *matHeaderCellDef> Zone</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.area }} </mat-cell>
          </ng-container>

          <!-- End Column -->
          <ng-container matColumnDef="capacity">
            <mat-header-cell *matHeaderCellDef> Capacité</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.capacity}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let room;  let j = index;">
              <i class="material-icons editBtn" focusable="false" (click)="editRoom(room)">
                edit
              </i>
              <i class="material-icons deleteBtn" focusable="false" (click)="deleteRoom(room)">
                delete
              </i>
            </mat-cell>
          </ng-container>


          <mat-header-row class="tableHeader" *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </mat-card>


    </div>
  </div>

</div>
