<mat-horizontal-stepper class="stepper" [linear]="isLinear" #stepper>

    <!-- Calendrier/Horloge -->
    <mat-step [stepControl]="firstFormGroup">
            <ng-template matStepLabel>Date</ng-template>

        <div class="row">
            <div class="col">
                    <div class="calendar-mock"></div>
            </div>

            <div class="col">
                    <div class="clock-mock"></div>
                    <div class="clock-mock"></div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <mat-slide-toggle>
                    Activer la récurrence ?
                </mat-slide-toggle>
            </div>

            <div class="col">
                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </div>
        </div>
    </mat-step>

    <!-- Recurrence -->
    <mat-step [stepControl]="secondFormGroup">
            <ng-template matStepLabel>Récurrence</ng-template>
        <div fxLayout="row">
            <div fxFlex="20%" class="border-right"> 
                <mat-checkbox class="d-block">Quotidien</mat-checkbox>
                <mat-checkbox class="d-block">Hebdomadaire</mat-checkbox>
                <mat-checkbox class="d-block">Mensuelle</mat-checkbox>
                <mat-checkbox class="d-block">Annuelle</mat-checkbox>
            </div>
            <div fxFlex="80%"> 
                <!-- if mensuelle -->
                <div class="">
                    <mat-checkbox class="d-block">Quotidien</mat-checkbox>
                    <mat-checkbox class="d-block">Hebdomadaire</mat-checkbox>
                </div>
            </div>
        </div> 

        <div fxLayout="row">
            <span class="finile">Fini le </span>
                <mat-form-field>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
        </div>
    </mat-step>

    <!-- Capacité -->
    <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Salle</ng-template>
            <mat-form-field>
                <input matInput placeholder="Address" formControlName="thirdCtrl" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <!-- Résultats -->
    <mat-step [stepControl]="fourthFormGroup">
        <ng-template matStepLabel>Résultats</ng-template>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
    </mat-step>
</mat-horizontal-stepper>