.blue-color{
  color: #0066a1;
}

h5{
  color: #0066a1;
}

::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}

.stepper{
    background-color: transparent;
}

.ngb-tp{
  justify-content: center;
}

.marg{
    margin: 20px 0;
}

.mensuelle{
    margin: auto 0 auto 5%;
}

.finile{
    margin: auto 15px auto 0;
}

.bouton-back-next{
    margin-right: 10px ;
    float: right;
    color: rgb(115, 154, 224);
    border: 1px solid rgb(115, 154, 224);
}

.bouton-back-next:disabled{
  color: rgba(155, 152, 152, 0.585);
  border: 1px solid rgba(155, 152, 152, 0.585);
}

.w-auto{
    width: auto!important;
}