<mat-horizontal-stepper class="stepper" [linear]="true" #stepper >
    <!-- Stepper phase 1 selection du jour et heure -->
    <mat-step [completed]="datasAreGood">

        <ng-template matStepLabel>Date</ng-template>

        <div class="row mb-3">
            <div class="col-auto p-2 border rounded">
                <div class="calendrier">
                    <mat-calendar min="today" [selected]="selectedStartDate"
                        (selectedChange)="onSelect($event); checkInput()">
                    </mat-calendar>
                    <div class="d-block text-danger small" *ngIf="errorDate">{{errorDate}}</div>
                </div>
            </div>

            <div class="col-5 mx-2 p-2 bg-blue border rounded">
                <div class="row h-50">
                    <h5 class="w-100 text-center m-auto">Debut</h5>
                    <mat-form-field class="w-50 pl-4 pr-2">
                        <mat-label>Heure</mat-label>
                        <mat-select [(value)]="selectedHourStart" (openedChange)="checkInput()">
                            <mat-option *ngFor="let hourStart of bookingHours" [value]="hourStart">
                                {{hourStart}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="w-50 pl-2 pr-4">
                        <mat-label>Minute</mat-label>
                        <mat-select [(value)]="selectedMinuteStart" (openedChange)="checkInput()">
                            <mat-option *ngFor="let minuteStart of bookingMinutes" [value]="minuteStart">
                                {{minuteStart}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="w-100 text-danger small text-center" *ngIf="errorHourStart">{{errorHourStart}}</div>

                </div>

                <div class="row h-50">
                    <h5 class="w-100 text-center m-auto">Fin</h5>
                    <mat-form-field class="w-50 pl-4 pr-2">
                        <mat-label>Heure</mat-label>
                        <mat-select [(value)]="selectedHourEnd" (openedChange)="checkInput()">
                            <mat-option *ngFor="let hourEnd of bookingHours" [value]="hourEnd">
                                {{hourEnd}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="w-50 pl-2 pr-4">
                        <mat-label>Minute</mat-label>
                        <mat-select [(value)]="selectedMinuteEnd" (openedChange)="checkInput()">
                            <mat-option *ngFor="let minuteEnd of bookingMinutes" [value]="minuteEnd">
                                {{minuteEnd}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="w-100 text-center text-danger small" *ngIf="errorHourEnd">{{errorHourEnd}}</div>
                </div>

            </div>

            <div class="col p-2 border rounded">
                <div class="row">
                    <h5 class="w-100 text-center m-0">Récap</h5>
                </div>

                <div class="row">
                    <div class="col p-3 text-center">
                        <div *ngIf="selectedStartDate">
                            Réunion le
                        </div>
                        <div *ngIf="selectedStartDate">
                            {{selectedDateDisplay}}
                        </div>
                        <div *ngIf="selectedMinuteStart != null">
                            de {{selectedHourStart}}:
                            <span *ngIf="selectedMinuteStart == 0">00</span>
                            <span *ngIf="selectedMinuteStart == 30">30</span>
                        </div>
                        <div *ngIf="selectedMinuteEnd != null">
                            jusqu'à {{selectedHourEnd}}:
                            <span *ngIf="selectedMinuteEnd == 0">00</span>
                            <span *ngIf="selectedMinuteEnd == 30">30</span>.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Toggle de la recurrence -->
        <div class="col">
            <div>
                <mat-slide-toggle (change)="recurrenceIsChecked = !recurrenceIsChecked">
                    Activer la récurrence ?
                </mat-slide-toggle>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button class="bouton-back-next" mat-button matStepperNext [disabled]="!datasAreGood">Suivant</button>
            </div>
        </div>
    </mat-step>

    <!-- Stepper phase 2 recurrence -->
    <mat-step *ngIf="recurrenceIsChecked" [completed]="datasRecurrenceAreGood">
        <ng-template matStepLabel>Récurrence</ng-template>

        <div class="row my-3">
            <div class="col-4 border-right">

                <!-- Groupe radio bouton mensualité -->
                <mat-radio-group [(ngModel)]="selectedRecurrence" (change)="checkInputRecurrence()">
                    <mat-radio-button class="d-block marg" *ngFor="let recurrence of recurrences" [value]="recurrence">
                        {{recurrence}}
                    </mat-radio-button>
                </mat-radio-group>
                <div class="w-100 text-center text-danger small" *ngIf="errorMensualite">{{errorMensualite}}</div>

            </div>
 
            <div class="col-auto mensuelle">
                <!-- if mensuelle -->
                <div *ngIf="selectedRecurrence === 'mensuelle'">

                    <!-- Groupe bouton radio "mensuelle"-->
                    <mat-radio-group [(ngModel)]="selectedMensualite">

                        <!-- Tous les x du mois -->
                        <mat-radio-button class="d-block">
                            Le
                            <input matInput type="number" min="1" max="31" placeholder="1">
                            tous les mois
                        </mat-radio-button>

                        <!-- Tous les "x ème" "jours" du mois -->
                        <mat-radio-button class="d-block">
                            Le
                            <mat-form-field>
                                <mat-select>
                                    <mat-option *ngFor="let numSemaine of numSemaines" [value]="numSemaine">
                                        {{numSemaine}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-select>
                                    <mat-option *ngFor="let jourSemaine of jourSemaines" [value]="jourSemaine">
                                        {{jourSemaine}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            de tous les mois
                        </mat-radio-button>

                    </mat-radio-group>

                </div>
            </div>
        </div>


        <div class="row my-3">
            <!-- Date de fin de la recurrence -->
            <span class="finile">Fini le </span>
            <mat-form-field>
                <input matInput [(ngModel)]="selectedEndDate" [matDatepicker]="picker" (dateChange)="checkInputRecurrence()" >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div class="w-100 text-center text-danger small" *ngIf="errorEndDate">{{errorEndDate}}</div>
        </div>

        <div class="row">
            <button class="bouton-back-next" mat-button matStepperPrevious>Retour</button>
            <button class="bouton-back-next" mat-button matStepperNext [disabled]="!datasRecurrenceAreGood">Suivant</button>
        </div>


    </mat-step>

    <!-- Stepper phase 3 capacité -->
    <mat-step>
        <ng-template matStepLabel>Salle</ng-template>

        <div class="row my-3">

            <div class="example-container">
                <h2>Capacité</h2>

                <div cdkDropList #capaciteList="cdkDropList" [cdkDropListData]="capacites"
                    [cdkDropListConnectedTo]="[choixList]" class="capacite-list" (cdkDropListDropped)="drop($event)">
                    <div class="drag-drop-items" *ngFor="let item of capacites" cdkDrag>{{item}} pers
                    </div>
                </div>
            </div>

            <div class="example-container">
                <h2>Mes critères</h2>

                <div cdkDropList #choixList="cdkDropList" [cdkDropListData]="choix"
                    [cdkDropListConnectedTo]="[capaciteList]" class="choix-list" (cdkDropListDropped)="drop($event)">
                    <div class="drag-drop-items" *ngFor="let item of choix" cdkDrag>{{item}} pers
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <button class="bouton-back-next" mat-button matStepperPrevious>Retour</button>
                <div class="col-8">
                    <button class="bouton-back-next" style="float: right;" mat-button (click)="getRoomsAvailable()"
                    matStepperNext>Chercher les salles disponibles</button>
                </div>
            </div>
        </div>
    </mat-step>

    <!-- Résultats -->
    <mat-step>
        <div class="container-fluid">
        <ng-template matStepLabel>Résultats</ng-template>
        <div class="row">
            <div *ngFor="let room of roomList" class="col-md-4" (click)="openDialog(room)">
                        <div class="thumbnails">
                            <a href="../../../assets/salleDeReunion.jpg">
                                <img src="../../../assets/salleDeReunion.jpg" class="img-fluid" alt="salleDeReunion">
                            </a>
                                <div class="caption">
                                    {{room.name}}<br>
                                    <span class="small">{{room.area}}</span>
                                    <span class="small mx-2">-</span>
                                    <span class="small ">{{room.capacity}} pers.</span>
                                    <a class="d-block px-3 pb-3 text-right">
                                        <mat-icon>check_circle_outline</mat-icon>
                                    </a>
                                </div>
                        </div>
            </div>
        </div>
        </div>

    </mat-step>
</mat-horizontal-stepper>