<mat-horizontal-stepper class="stepper" [linear]="true" #stepper>
    <!-- Stepper phase 1 selection du jour et heure -->
    <mat-step [completed]="datasAreGood">

        <ng-template matStepLabel>Date</ng-template>

        <div class="container px-5">
            <div class="row mb-3 p-3 border rounded bg-white">
                <p class="m-0">
                    <mat-icon class="mr-2 blue-color">info</mat-icon>
                    <span *ngIf="selectedStartDate">
                        {{selectedObjet}}
                    </span>
                    <span *ngIf="selectedStartDate">
                        {{selectedDateDisplay}}
                    </span>
                    <span *ngIf="selectedMinuteStart != null">
                        de {{selectedHourStart}}:
                        <span *ngIf="selectedMinuteStart == 0">00</span>
                        <span *ngIf="selectedMinuteStart == 30">30</span>
                    </span>
                    <span *ngIf="selectedMinuteEnd != null">
                        jusqu'à {{selectedHourEnd}}:
                        <span *ngIf="selectedMinuteEnd == 0">00</span>
                        <span *ngIf="selectedMinuteEnd == 30">30</span>.
                    </span>
                </p>
            </div>

            <div class="row mb-3 justify-content-between">
                <div class="col-auto p-3 border rounded bg-white">
                    <div class="calendrier">
                        <mat-calendar min="today" [selected]="selectedStartDate"
                            (selectedChange)="onSelectDate($event); checkInput()">
                        </mat-calendar>
                        <div class="d-block text-danger small" *ngIf="errorDate">{{errorDate}}</div>
                    </div>
                </div>

                <div class="col-7 p-3 border rounded bg-white">
                    <div class="row mb-3">
                        <h5 class="w-100 text-center m-auto">Objet</h5>
                        <mat-form-field class="w-100 pl-4 pr-4">
                            <input matInput autocomplete="off" placeholder="Objet" [(ngModel)]="selectedObjet"
                                (input)="checkInput()">
                        </mat-form-field>
                        <div class="w-100 text-danger small pl-4" *ngIf="errorObjet">{{errorObjet}}</div>

                    </div>

                    <div class="row mb-3">
                        <h5 class="w-100 text-center m-auto">Debut</h5>
                        <mat-form-field class="w-50 pl-4 pr-2">
                            <mat-label>Heure</mat-label>
                            <mat-select [(value)]="selectedHourStart" (openedChange)="checkInput()">
                                <mat-option *ngFor="let hourStart of bookingHours" [value]="hourStart">
                                    {{hourStart}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="w-50 pl-2 pr-4">
                            <mat-label>Minute</mat-label>
                            <mat-select [(value)]="selectedMinuteStart" (openedChange)="checkInput()">
                                <mat-option *ngFor="let minuteStart of bookingMinutes" [value]="minuteStart">
                                    {{minuteStart}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="w-100 text-danger small text-center" *ngIf="errorHourStart">{{errorHourStart}}</div>

                    </div>

                    <div class="row">
                        <h5 class="w-100 text-center m-auto">Fin</h5>
                        <mat-form-field class="w-50 pl-4 pr-2">
                            <mat-label>Heure</mat-label>
                            <mat-select [(value)]="selectedHourEnd" (openedChange)="checkInput()">
                                <mat-option *ngFor="let hourEnd of bookingHours" [value]="hourEnd">
                                    {{hourEnd}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="w-50 pl-2 pr-4">
                            <mat-label>Minute</mat-label>
                            <mat-select [(value)]="selectedMinuteEnd" (openedChange)="checkInput()">
                                <mat-option *ngFor="let minuteEnd of bookingMinutes" [value]="minuteEnd">
                                    {{minuteEnd}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="w-100 text-center text-danger small" *ngIf="errorHourEnd">{{errorHourEnd}}</div>
                    </div>
                </div>
            </div>


            <!-- Toggle de la recurrence -->
            <div class="col">
                <div>
                    <mat-slide-toggle (change)="recurrenceIsChecked = !recurrenceIsChecked">
                        Activer la récurrence ?
                    </mat-slide-toggle>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="bouton-back-next" mat-button matStepperNext (click)="loadAvailablesIfNoRecurrence()"
                        [disabled]="!datasAreGood">Suivant</button>
                </div>
            </div>

        </div>
    </mat-step>

    <!-- Stepper phase 2 recurrence -->
    <mat-step *ngIf="recurrenceIsChecked" [completed]="datasRecurrenceAreGood">
        <ng-template matStepLabel>Récurrence</ng-template>

        <div class="row my-3">
            <div class="col-4 border-right">

                <!-- Groupe radio bouton mensualité -->
                <mat-radio-group [(ngModel)]="selectedRecurrence" (change)="checkInputRecurrence()">
                    <mat-radio-button class="d-block marg" *ngFor="let recurrence of recurrences" [value]="recurrence">
                        {{recurrence}}
                    </mat-radio-button>
                </mat-radio-group>
                <div class="w-100 text-center text-danger small" *ngIf="errorLabelRecurrence">{{errorMensualite}}</div>

            </div>
        </div>


        <div class="row my-3">
            <!-- Date de fin de la recurrence -->
            <span class="finile">Fini le </span>
            <mat-form-field>
                <input matInput [(ngModel)]="selectedEndDateRecurrence" [matDatepicker]="picker"
                    (dateChange)="checkInputRecurrence()">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div class="w-100 text-center text-danger small" *ngIf="errorEndDateRecurrence">{{errorEndDate}}</div>
        </div>

        <div class="row">
            <button class="bouton-back-next" mat-button matStepperPrevious>Retour</button>
            <button class="bouton-back-next" mat-button matStepperNext
                [disabled]="!datasRecurrenceAreGood">Suivant</button>
        </div>


    </mat-step>

    <!-- Stepper phase 3 capacité -->
    <mat-step>
        <ng-template matStepLabel>Salle</ng-template>

        <div class="row my-3">

            <div class="container-fluid">
                <h2>Capacité</h2>
                <mat-slider [(ngModel)]="roomRequiredCapacity" thumbLabel="true" tickInterval="1" min="2" max="10"
                    (change)="onChangeCapacity()">
                </mat-slider>
            </div>
        </div>

        <div class="row my-3">
            <div class="container-fluid">
                <div class="mb-3">
                    <h2>Salles ({{roomRequiredCapacity}} personnes)</h2>
                </div>
                <div class="card-deck">
                    <div *ngFor="let room of roomList" (click)="onSelectRoom(room)">
                        <div *ngIf="room.capacity >= roomRequiredCapacity" class="card mb-3">
                            <img src="../../../assets/salleDeReunion.jpg" class="card-img-top" alt="salleDeReunion">
                            <div class="card-body">
                                <h5 class="card-title">{{ room.name }}
                                    <mat-icon [ngClass]="{
                                        'badge-unselected-room':selectedRoom === null || selectedRoom !== room,
                                        'badge-selected-room':selectedRoom === room
                                    }">
                                        check_circle_outline</mat-icon>
                                </h5>
                                <p class="card-text">
                                    <small class="text-muted">{{ room.area }} - {{room.capacity}} pers.
                                    </small>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <button class="bouton-back-next" mat-button matStepperPrevious>Retour</button>
                <div class="col-8">
                    <button class="bouton-back-next" mat-button (click)="sendToVerification()" matStepperNext
                        [disabled]="!selectedRoom">Réserver</button>
                </div>
            </div>
        </div>
    </mat-step>

    <!-- Résultats -->
    <mat-step>
        <div class="container-fluid">
            <ng-template matStepLabel>Résultats</ng-template>
            <div class="container">
                <div class="row">
                    <!-- Liste Réservations -->
                    <div class="col-md-6 col-xs-12" style="height: 400px; background-color: blue;">
                        <mat-table [dataSource]="dsBooking" class="mat-elevation-z8">
                            <!-- Date Column -->
                            <ng-container matColumnDef="date">
                                <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                                <mat-cell *matCellDef="let element" class="dateTableCell"> {{ element.startDate }}
                                </mat-cell>
                            </ng-container>

                            <!-- Start Column -->
                            <ng-container matColumnDef="startDate">
                                <mat-header-cell *matHeaderCellDef> Début </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{ element.startDate }} </mat-cell>
                            </ng-container>

                            <!-- End Column -->
                            <ng-container matColumnDef="endDate">
                                <mat-header-cell *matHeaderCellDef> Fin </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.endDate}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="room">
                                <mat-header-cell *matHeaderCellDef> Salle </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.startDate}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                                <mat-cell *matCellDef="let booking;  let j = index;">
                                    <i class="material-icons editBtn" focusable="false">
                                        edit
                                    </i>
                                    <i class="material-icons deleteBtn" focusable="false"
                                        (click)="deleteBooking(booking)">
                                        delete
                                    </i>
                                </mat-cell>
                            </ng-container>


                            <mat-header-row class="tableHeader" *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                    </div>
                    <!-- /Liste Réservations -->

                    <!-- Calendrier -->
                    <div class="col-md-6 col-xs-12" style="height: 400px; background-color: red;">
                        <div class="container">

                            <div class="row align-items-center">
                                <div class="col-auto text-center" *ngIf="rooms">
                                    <mat-form-field>
                                        <mat-select [(value)]="selectedRoom" (selectionChange)="onSelectRoom()">
                                            <mat-option *ngFor="let room of rooms" [value]="room">
                                                Salle {{room.name}} - Zone {{room.area}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                </div>

                                <div class="col pr-5">
                                    <mat-form-field class="float-right">
                                        <input matInput [matDatepicker]="picker" placeholder="Selectionner une date"
                                            (dateChange)="onSelectDate($event)" [value]="selectedDate">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker startAt="today"></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <div class="container shadow mt-2 border">

                            <div class="row mb-2">
                                <div class="col-1 col-arrow-left position-relative" (click)="previousWeek()">
                                    <mat-icon class="arrow-left">keyboard_arrow_left</mat-icon>
                                </div>
                                <div class="col">
                                    <div class="row bg-white">
                                        <div class="col-auto">
                                            <div class="row">
                                                <div class="w-100 text-right">
                                                    &nbsp;
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col border border-white text-center p-3 text-capitalize"
                                            *ngFor="let day of weekDays">
                                            {{day}}</div>
                                    </div>

                                    <div class="row light-blue-bg" id="week-header">
                                        <div class="col-auto">
                                            <div class="row bg-white px-2"
                                                *ngFor="let hourOfPlanning of hoursOfPlanning; let i = index">
                                                <div class="w-100 border border-white border-bottom-0 text-right"
                                                    *ngIf="i%2 == 0">
                                                    {{hourOfPlanning}}
                                                </div>
                                                <div class="w-100 border border-white border-bottom-0"
                                                    *ngIf="i%2 !== 0">
                                                    &nbsp;
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col p-0" *ngFor="let resa of bookingsOfTheWeek; let i = index">
                                            <div class="container">
                                                <div class="row" *ngFor="let item of resa; let j = index">
                                                    <div class=" w-100 border border-bottom-0 border-white text-right"
                                                        *ngIf="j%2 == 0">
                                                        <div class="item-is-true" *ngIf="item" matTooltip='
                                                                        Réservé par : {{item.firstName}} {{item.lastName}},
                                                                        Objet : {{item.object}},
                                                                        Capacité : {{item.capacity}} pers.'>
                                                            &nbsp;
                                                        </div>

                                                        <div class="item-is-false" *ngIf="!item"
                                                            (click)="openDialog(i, j)">
                                                            &nbsp;
                                                        </div>
                                                    </div>
                                                    <div class="w-100 border border-top-0 border-white"
                                                        *ngIf="j%2 !== 0">
                                                        <div class="item-is-true" *ngIf="item" matTooltip='
                                                                    Réservé par : {{item.firstName}} {{item.lastName}},
                                                                    Objet : {{item.object}},
                                                                    Capacité : {{item.capacity}} pers.'>
                                                            &nbsp;
                                                        </div>

                                                        <div class="item-is-false" *ngIf="!item"
                                                            (click)="openDialog(i, j)">
                                                            &nbsp;
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-1 col-arrow-right position-relative" (click)="nextWeek()">
                                    <mat-icon class="arrow-right">keyboard_arrow_right</mat-icon>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!-- /Calendrier -->
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <button class="bouton-back-next" mat-button matStepperPrevious>Retour</button>
                    <div class="col-8">
                        <button class="bouton-back-next" mat-button matStepperNext
                            [disabled]="!selectedRoom">Confirmer</button>
                    </div>
                </div>
            </div>
        </div>

    </mat-step>
</mat-horizontal-stepper>