<div class="container-fluid">

    <div class="row">
        <div class="col-auto">
            <button matButton (click)="goBack()">
                < Retour </button> </div> <div class="col-auto">
                    <h1>{{room.id}} Salle {{room.name}}</h1>
        </div>



        <div class="col-auto">
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="date" 
                (dateChange)="onSelect($event)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="col-auto">
            <button mat-raised-button color="primary" (click)="openDialog()"> Réserver </button>
        </div>


    </div>

</div>
<!--
<div class="calendrier">
    <mat-calendar [selected]="selectedDate" (selectedChange)="onSelect($event)">
    </mat-calendar>
</div>
-->

<div class="container-fluid">

    <div class="row border" id="week-header">
        <div class="col-2">
            <div class="container-fluid">
                <div class="row">•</div>
                <div class="row" *ngFor="let hourOfPlanning of hoursOfPlanning">
                    {{hourOfPlanning}}
                </div>
            </div>
        </div>
        <div class="col-2" *ngFor="let resaOfThisDay of bookingOfTheWeek, let i = index">
            <div class="container-fluid">
                <div class="row">{{dayOfPlanning[i]}}</div>
                <div class="row" *ngFor="let bookingOfThisDay of resaOfThisDay">
                    {{bookingOfThisDay.objet}}
                </div>
            </div>
        </div>
    </div>

</div>