#div_global {
    border-style: solid;
    border-width: 3px;
    border-color: white;
    margin: 5%;
    height: 300px;
}
#test_modal {
    border-style: solid;
    border-width: 3px;
    border-color: white;
    margin: 5%;
    height: 100px;
    width: 150px;
    text-align: center;
}
