<div id="div_global">
    <h1 fxLayout="column"> Disponible ce jour : </h1>
    <mat-form-field fxLayout="column">
            <mat-label>Période</mat-label>
            <mat-select>
              <mat-option *ngFor="let periode of periodes" [value]="periode.value">
                {{periode.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
</div>
<div id="test_modal">
  Test modale bookingCalendar
  <button mat-icon-button (click)="openBookingCalendar()"><mat-icon>calendar_today</mat-icon></button>
</div>
