.title{
  color: black;
  font-size: 2.5em;
}

.rowRoom{
  transition: 0.20s ease;
  max-width: 1100px;
  margin: auto;
}

.rowRoom:hover{
  border-left: 5px solid rgb(57, 77, 112);
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.34);
   box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.34);
   transform: scale(1.01);
  cursor: pointer;
}

.rowRoom:hover .timeline-flag{
  border-right: 2px solid rgb(220, 230, 247);
}

.timeline-container-heures,
.timeline-container{
  width: 100%;
}

.timeline-container{
  width: 99%;
  position: relative;
  height: 30px;
  background-color: rgb(115, 154, 224);
  margin: 0 auto;
}

.timeline-tile{
  position: absolute;
  top:0;
  background-color: rgb(57, 77, 112);
  height: 100%;
}

.timeline-flag{
  position: relative;
  display: inline-block;
  width: 20% ;
  height: 30px;
  border-right: 2px solid white;
  z-index: 1;
}

.timeline-flag-heure{
  display: inline-block;
  width: calc( 20% - 5px);
  margin-bottom: 8px;

  font-size: 1rem;
  font-weight: bold;
  color: rgb(57, 77, 112);;
}

.timeline-flag-heure-last{
  width: calc(20% + 20px);
}

mat-icon{
  vertical-align: bottom;
}

.periodBtn:hover{
  color: rgb(28, 71, 151);
  cursor: pointer;
  text-decoration: underline;
}
.roomDetails{
  font-size: smaller;
}

.period-selected{
  font-size: 16px;
  text-decoration: underline;
  color: rgb(28, 71, 151);
  font-weight: bold;
}

.icecard{
  max-width: 1300px;
  margin: 0 auto;
  padding: 35px 40px;
  border-radius: 10px;
}