<mat-sidenav-container class="example-container" fxLayoutAlign="start stretch">
        <mat-sidenav mode="side" opened id="sidebar">
          <button id="bouton_home"> 
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="margin">home</mat-icon>
          </button>
          <button id="bouton_home"> 
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="margin">dashboard</mat-icon>
          </button>
        </mat-sidenav>
        <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container>