.example-container {
    position: absolute;
    background: #eee;
    color: black;
    height: 100%;
    width: 100%;
  }

#sidebar {
  width: 10%;
  text-align: center;
  background:rgb(115, 154, 224);
  font-size: 20px;
}

.icon {

  transform: scale(2);
  padding-top: 15%;
  padding-bottom: 3%;
}

.description_icon {
  font-size: 12px;
}

button {
  background: transparent;
  color: rgb(209, 209, 209);
  width: 100%;
  border: none;
}

button:active {
  border-left-style: solid;
  border-left-color: white;
  border-left-width: 5px;
  color: white;
}