/* SIDEBAR : LOGO + BOUTONS */
.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  background: #f8f9fa;
  box-shadow: 0px 68px 8px 3px rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: 0px 68px 8px 3px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 68px 8px 3px rgba(0, 0, 0, 0.34);
}

.brand{
  background: rgb(28, 71, 151);
}

/* BOUTONS */
.mat-drawer-content::-webkit-scrollbar
{
  display: none;
}

.active-list-item {
  font-weight: 550;
  color: #1c4797!important;
  background: rgba(0,0,0,.04);
}

.grid-container{
  margin: 64px;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav-content{
  background: rgb(250, 250, 250);
}

app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 998;
}

mat-nav-list {
  margin-top: 64px;
  padding-top: 0;
}

mat-nav-list>a{
  color: rgb(0, 0, 0);
}

.nav-list-icon{
  margin: 0px 12px;
  padding: 4px;
}

@media (max-width: 599px){
  .grid-container{
      margin: 56px auto;
  }
  mat-nav-list{
    margin-top: 56px;
  }
}