<div class="container">
    <div class="auth-container">
        <mat-tab-group mat-align-tabs="center" class="auth">

            <!-- TAB SE CONNECTER -->
            <mat-tab label="SE CONNECTER" class="w-100">
                <div class="connexion">
                    <h1 class="title">Welcome back !</h1>
                    <form>
                        <mat-form-field class="d-block">
                            <input color="white" matInput name="email" placeholder="Email">
                            <mat-icon matSuffix class="grey">email</mat-icon>
                        </mat-form-field>

                        <mat-form-field class="d-block">
                            <input type="password" matInput name="password" placeholder="Mot de passe">
                            <mat-icon matSuffix class="grey">lock_open</mat-icon>
                        </mat-form-field>

                        <button routerLink="/" class="d-block connexion-button" type="submit">SE CONNECTER</button>
                    </form>

                    <a class="mdp-oublie" href="/">J'ai oublié mon mot de passe</a>
                </div>
            </mat-tab>


            <!-- TAB S'ENREGISTRER -->
            <mat-tab label="S'ENREGISTRER">
                <div class="enregistrement">
                    <h1 class="title">Me créer un compte</h1>
                    <form class="example-form">
                        <mat-form-field class="w-50">
                            <input matInput placeholder="Nom" required />
                        </mat-form-field>

                        <mat-form-field class="w-50 f-right">
                            <input matInput placeholder="Prenom" required />
                        </mat-form-field>

                        <mat-form-field class="d-block">
                            <input type="email" matInput placeholder="Email" required />
                            <mat-icon matSuffix class="grey">email</mat-icon>
                        </mat-form-field>

                        <mat-form-field class="d-block">
                            <input matInput placeholder="DAS" required />
                            <mat-icon matSuffix class="grey">person</mat-icon>
                        </mat-form-field>

                        <mat-form-field class="d-block">
                            <input type="password" matInput placeholder="Mot de passe" required />
                            <mat-icon matSuffix class="grey">lock_open</mat-icon>
                        </mat-form-field>
                        
                        <button class="connexion-button" type="submit">M'ENREGISTRER</button>
                    </form>

                </div>
            </mat-tab>

        </mat-tab-group>
    </div>
</div>