<div class="container-fluid">
    <ng-template matStepLabel>Résultats</ng-template>

    <div class="row">
        <div class="container-fluid">

            <div class="row border-top border-bottom bg-info text-white p-3">
                <div class="col-2">Date</div>
                <div class="col-1">Début</div>
                <div class="col-1">Fin</div>
                <div class="col-2">Salle</div>
                <div class="col-2">.</div>
            </div>

            <div *ngFor="let resa of reservationFeedback">
                <div class="row border-bottom p-3 bg-white" (click)="displayPlanning(resa)">
                    <div class="col-2">
                        {{resa.startDate | date: 'dd MMMM'}}
                    </div>
                    <div class="col-1">
                        {{resa.startDate | date: 'HH:mm'}}
                    </div>
                    <div class="col-1">
                        {{resa.endDate | date: 'HH:mm'}}
                    </div>
                    <div class="col-2">
                        {{resa.roomId}}
                    </div>
                    <div class="col-2">
                        <i class="material-icons editBtn" focusable="false" (click)="editBooking(resa)">
                            edit
                        </i>
                        <i class="material-icons deleteBtn" focusable="false"
                            (click)="deleteBooking(resa.reservationId)">
                            clear
                        </i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Calendrier -->
    <div class="row" *ngIf="planningClicked">
        <div class="container">
            <div class="row" (click)="closePlanning()">X</div>
            <div class="row">
                <app-room-planning [reservationSearchFeedback]="reservation"></app-room-planning>
            </div>
        </div>
    </div>

</div>