<div class="container-fluid">
    <ng-template matStepLabel>Résultats</ng-template>

    <div class="row">
        <button class="bouton-back-next" mat-button
            (click)="createReservationRecurrence()">Réserver ces dates</button>
    </div>


    <div class="row">
        <div class="container-fluid">

            <div class="table-responsive-md">
                <table class="table table-fixed">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Début</th>
                            <th scope="col">Fin</th>
                            <th scope="col">Salle</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        <tr *ngFor="let resa of reservationsToCheck; let i = index"
                            [ngClass]="resa.conflit ? 'bg-danger':''">
                            <td class="hoverable" (click)="displayPlanning(resa, i)">{{resa.startDate | date: 'EEEE dd MMM' | titlecase}}
                            </td>
                            <td class="hoverable" (click)="displayPlanning(resa, i)">{{resa.startDate | date: 'HH:mm'}}</td>
                            <td class="hoverable" (click)="displayPlanning(resa, i)">{{resa.endDate | date: 'HH:mm'}}</td>
                            <td>{{resa.roomId}}</td>
                            <td>
                                <i class="material-icons editBtn" focusable="false" (click)="editBooking(resa)">
                                    edit
                                </i>
                                <i class="material-icons deleteBtn" focusable="false"
                                    (click)="deleteBooking(resa.reservationId)">
                                    clear
                                </i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- Calendrier -->
    <div class="row" *ngIf="planningClicked">
        <div class="container">
            <div class="row" (click)="closePlanning()">X</div>
            <div class="row">
                <app-room-planning 
                    [reservationSearchFeedback]="reservation" 
                    [indexReservation]="indexReservation"
                    (reservationToChange)="updateReservation($event)"></app-room-planning>
            </div>
        </div>
    </div>

</div>