<button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeModal()">&times;</button>

<div class="container-fluid" id="createReservation">
    <!-- objet -->
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <!-- titre -->
                <p class="modal-title">
                    Confirmation de réservation
                </p>
            </div>
            <!-- message -->
            <div class="modal-body">
                <p>Ces dates sont conflictuelles, elles seront ignorées si vous souhaitez quand même réserver :</p> <br>
                    <span *ngFor="let reservation of listeReservationsWithConflit">
                        • le {{reservation.startDate | date: 'dd MMMM'}} de {{reservation.startDate | date: 'HH:mm' : 'GMT+0'}} à {{reservation.endDate | date: 'HH:mm' : 'GMT+0'}} en salle {{reservation.roomName}} <br>
                        <span class="ml-5">Raison :</span>
                            <span *ngIf="reservation.conflit == true">Réservation déjà présente</span>
                            <span *ngIf="reservation.workingDay == false">Réservation durant un jour non ouvré</span>
                            <br>
                    </span>
            </div>
            <!-- bouton -->
            <div class="modal-footer" mat-dialog-actions>
                <button type="button" class="btn btn-info" (click)="closeModal()">Retourner à la page de régulation</button>
                <button matButton class="mat-raised-button" (click)="onSubmit()">Réserver quand même</button>
            </div>
        </div>
    </div>
</div>