<div class="container-fluid p-5">

    <div class="row mb-5">

        <div class="col-auto">
            <h2> Mes Réservations </h2>
        </div>
    </div>
    <mat-table [dataSource]="dsBooking" class="mat-elevation-z8" *ngIf="dsBooking.data.length > 0; else noDsData">
        <!-- Date Column -->
        <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
            <mat-cell *matCellDef="let element" class="dateTableCell"> {{element.startDate | date: 'dd MMM.'}}
            </mat-cell>
        </ng-container>

        <!-- Start Column -->
        <ng-container matColumnDef="start">
            <mat-header-cell *matHeaderCellDef> Début </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.startDate | date: 'HH:mm' : 'GMT+0'}} </mat-cell>
        </ng-container>

        <!-- End Column -->
        <ng-container matColumnDef="end">
            <mat-header-cell *matHeaderCellDef> Fin </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.endDate | date: 'HH:mm' : 'GMT+0'}} </mat-cell>
        </ng-container>

        <!-- Room Column -->
        <ng-container matColumnDef="room">
            <mat-header-cell *matHeaderCellDef> Salle </mat-header-cell>
            <mat-cell *matCellDef="let element" class="roomTableCell"> {{element.room.name}} </mat-cell>
        </ng-container>

        <!-- Subject Column -->
        <ng-container matColumnDef="subject">
            <mat-header-cell *matHeaderCellDef> Sujet </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.object}} </mat-cell>
        </ng-container>

        <!-- Participants Column -->
        <ng-container matColumnDef="participants">
            <mat-header-cell *matHeaderCellDef> Participants </mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{element.participants.length > 0 ? element.participants.length : 'N/A'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let element;  let j = index;">
                <i class="material-icons editBtn" focusable="false" (click)="editBooking(element.reservationId)">
                    edit
                </i>
                <i class="material-icons deleteBtn" focusable="false" (click)="deleteBooking(element.reservationId)">
                    clear
                </i>
            </mat-cell>
        </ng-container>


        <mat-header-row class="tableHeader" *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <ng-template #noDsData>
        <div class="row">
            <mat-card class="col-12">
                <mat-card-content>
                    <div class="d-flex justify-content-center">
                        <h5>Aucune réservation programmée</h5>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </ng-template>
</div>