.deleteBtn{
    color: red;
    cursor: pointer;
}

.editBtn{
    color: royalblue;
    cursor: pointer;
     margin-right: 15px; 
}
 
#title{
    background-color: rgb(0,102,161) !important;
    color: white;
    font-weight: 750; 
}

.title{
    color: black;
    font-size: 2.5em;
  }

#date{
    font-weight:710;
}

#debut, #fin{
    color: rgb(0,102,161);
}
#salle{
    color: rgb(128,179,208);
}

table {
    width: 100%;
    text-align: center;
}

#objet{
    font-weight:400;
}

.bg-grey{
    background-color: rgba(231, 231, 231, 0.7);
}

