.deleteBtn{
    color: red;
    cursor: pointer;
}

.editBtn{
    color: royalblue;
    cursor: pointer;
     margin-right: 15px; 
}
 
#title{
    background-color: #1a3994 !important;
    color: white;
    font-weight: 750; 
}

#date{
    font-weight:710;
}

#debut, #fin{
    color:#093ea1;
}
#salle{
    color: #598ae4;
}

table {
    width: 100%;
    text-align: center;
}

#objet{
    font-weight:400;
}

.bg-grey{
    background-color: lightgrey;
}
/*  tbody tr:nth-child(2+n){
    background-color: red;
} */
/* tbody tr:nth-child(2n+1){
    background-color: rgb(14, 201, 23);
}
tbody tr:nth-child(3n+1){
    background-color: rgb(14, 27, 201);
} */

/* tr:nth-child(even){
    background-color: red;
} */
/* #period{
    margin-left: 5px;
} */

